<!DOCTYPE html>
<html>
<head>
  <title>Messykitchenstories</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="sidebar-content">
    <div class="site-header">
      <div id="logo">
        <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
        <% end %>
      </div>
    </div>
    <div class="category">
      <li><%= link_to "Blog", root_path %></li>
      <li>About</li>
      <li>Contact</li>
    </div>
    <div class="social-media">
      <a href="https://www.pinterest.com/MessyKitstories/pins/"><%= image_tag "pinterest-logo.png" ,:id =>"pinterest"%></a>
      <a href="https://www.instagram.com/sowmyadsl/"><%= image_tag "instagram-logo.png",:id =>  "instagram" %></a>
      <a href="https://github.com/sowmyadsl"><%= image_tag "github-logo.png",:id =>"github" %></a>
      <a href="mailto:sowmya.dsl@gmail.com"><%= image_tag "email_icon.jpg",:id => "email" %></a>
    </div>
    <p class="sign_in">Admin Login</p>
  </div>
  <div class="main-content">
    <div id="header">
      <p>All Posts</p>
      <div class="buttons">
        <button class="button"><%= link_to "New Post",new_post_path %></button>
        <button class="button">Logout</button>
      </div>
    </div>

    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
